<div class="mb-3 d-grid col-8 mx-auto text-center">
    {{ form_label(trickForm.images, 'Ajouter une/des photo(s) à cette figure') }}
    {{ form_errors(trickForm.images) }}
    {{ form_widget(trickForm.images) }}
</div>