<div class="mb-3 d-grid col-8 mx-auto text-center">
    {{ form_label(trickForm.images, 'Ajouter une image mise en avant pour cette figure.') }}
    {{ form_errors(trickForm.featured_image) }}
    {{ form_widget(trickForm.featured_image) }}
</div>