<div class="container-fluid">
    {% if trick.images is not empty %}
        <div class="row">
            {% for image in trick.images %}
                {% if not image.featuredImage %}
                    <div class="col-12 col-lg-6 p-3">
                        <img class="img-fluid" src="{{ asset('/uploads/images/' ~ image.name) }}" alt="Image">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info text-center m-3">
            Il n'y a pas encore d'images pour cette figure.
        </div>
    {% endif %}
</div>

