{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}

    <div class="container-fluid p-0 position-relative">
        <div class="alert alert-dismissible alert-light position-absolute top-50 start-50 translate-middle" style="opacity: 0.6; width: 350px; height:70px">
        </div>
        <h2 class="text-center text-dark position-absolute top-50 start-50 translate-middle">Partage tes figures !</h2>
        <img src="images/img_home.jpg" class="img-fluid" alt="Image d'accueil" />
        <div class="row position-absolute bottom-0 end-0 pe-2 p-0 m-0">
            <div class="col">
                <a href="#tricks" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

<div class="container position-relative">
    <h1 class="text-center mt-3 mb-3" id="tricks">Figures</h1>
    <div class="row row-cols-1 row-cols-lg-4 row-cols-xl-5 g-4">
        {% for trick in tricks %}
            <div class="col">
                <div class="card p-2 mb-3">
                    {% if trick.images|length > 0 %}
                        <img src="{{trick.images[0].path}}" class="card-img-top" alt="Thumbnail image">
                    {% else %}
                        <img src="https://picsum.photos/seed/picsum/200" class="card-img-top" alt="Placeholder img" width="254" height="150">
                    {% endif %}
                    <div class="card-body">
                        <a href="#" class="nav-link"><h4 class="card-title text-center">{{ trick.name }}</h4></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-4 d-flex justify-content-center">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-patch-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                    <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"/>
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid position-relative">
    <div class="row position-absolute bottom-0 end-0 pe-2 p-0 m-0">
        <div class="col">
            <a href="#tricks" >
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-up-square-fill" viewBox="0 0 16 16">
                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 9h8a.5.5 0 0 0 .374-.832l-4-4.5a.5.5 0 0 0-.748 0l-4 4.5A.5.5 0 0 0 4 11z"/>
                </svg>
            </a>
        </div>
    </div>
</div>



{% endblock %}
