{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}

    <div class="container-fluid p-0 position-relative">
        <div class="alert alert-dismissible alert-light position-absolute top-50 start-50 translate-middle" style="opacity: 0.6; width: 350px; height:70px">
        </div>
        <h2 class="text-center text-dark position-absolute top-50 start-50 translate-middle">Partage tes figures !</h2>
        <img src="../images/img_home.jpg" class="img-fluid" alt="Image d'accueil" />
        <div class="row position-absolute bottom-0 end-0 pe-2 p-0 m-0">
            <div class="col">
                <a href="#tricks" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-caret-down-square-fill" viewBox="0 0 16 16">
                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4 4a.5.5 0 0 0-.374.832l4 4.5a.5.5 0 0 0 .748 0l4-4.5A.5.5 0 0 0 12 6H4z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    {{ render(path('app_trick_index')) }}

{% endblock %}
