{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    <!-- Password reset form -->
    <div class="container vh-85">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1 class="mt-3 mb-5 text-center">Réinitialisation du mot de passe</h1>
                <div class="card p-3">
                    {{ form_start(resetPassForm) }}
                        <div class="mb-3 d-grid col-8 mx-auto text-center">
                            {{ form_row(resetPassForm.username) }}
                            <br />
                            {{ form_row(resetPassForm.password) }}
                        </div>
                        <div class="d-grid col-6 mx-auto">
                            <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
                        </div>
                    {{ form_end(resetPassForm) }}
                </div>
            </div>
        </div>
    </div>


{% endblock %}
