<div class="row">
    {% if trick.videos is not empty %}
        {% for video in trick.videos %}
            {% if video.link is empty %}
                <div class="col-12 col-lg-6 p-1">
                    <div class="d-flex justify-content-center align-items-center border border-warning p-2">
                        Video -> Erreur d'affichage
                    </div>
                    <div class="d-flex justify-content-evenly">
                        {{ include('video/_delete_video.html.twig') }}
                    </div>
                </div>
            {%  else %}
                <div class="col-12 col-lg-6 p-1">
                    <div class="medias d-flex justify-content-center">
                        <iframe
                                width="640"
                                height="430"
                                src="{{video.link}}"
                                title="Video Player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                        >
                        </iframe>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        {{ include('video/_delete_video.html.twig') }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>