<div class="container-fluid">
    {% if trick.videos is not empty %}
        <div class="row">
            {% for video in trick.videos %}
                    {% if video.link is empty %}
                            <div class="col-12 col-lg-6 p-3">
                                <div class="d-flex justify-content-center align-items-center border border-warning p-2 m-2">
                                    Video -> Erreur d'affichage
                                </div>
                            </div>
                    {%  else %}
                            <div class="col-12 col-lg-6 p-3">
                                <div class="medias d-flex justify-content-center m-2">
                                    <iframe
                                            width="644"
                                            height="430"
                                            src="{{video.link}}"
                                            title="Video Player"
                                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen
                                    >
                                    </iframe>
                                </div>
                            </div>
                    {% endif %}
            {% endfor %}
        </div>
    {% else %}
            <div class="alert alert-info text-center m-3">
                Il n'y a pas encore de vidéos pour cette figure.
            </div>
    {% endif %}
</div>
