{% extends 'base.html.Twig' %}

{% block title %}Mentions légales et politique de confidentialité{% endblock %}

{% block body %}
    <div class="container-fluid mt-5 pt-2 pb-3 bg-light">
        <h1 class="text-center mb-3">Mentions légales et politique de confidentialité</h1>
        <div class="row justify-content-center mt-5 mb-3 p-2">
            <div class="col-8">
                <h2>Mentions Légales</h2>
                <div class="p-2">
                    <p>
                        Efficiently redefine mission-critical expertise before cost effective content. Distinctively cultivate seamless products via equity invested
                        expertise. Continually innovate holistic bandwidth before extensible services. Uniquely orchestrate market-driven total linkage vis-a-vis
                        bricks-and-clicks process improvements. Interactively innovate open-source opportunities whereas long-term high-impact opportunities.
                    </p>
                    <p>
                        Professionally initiate customized models without robust meta-services. Progressively morph enterprise-wide resources for maintainable bandwidth.
                        Phosfluorescently underwhelm long-term high-impact mindshare whereas installed base infomediaries. Rapidiously evolve frictionless models for
                        distributed content. Distinctively simplify synergistic scenarios for just in time catalysts for change.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <hr class="col-4">
        </div>
        <div class="row justify-content-center mt-3 mb-3 p-2">
            <div class="col-8">
                <h2>Politique de confidentialité</h2>
                <div class="p-2">
                    <p>
                        Efficiently redefine mission-critical expertise before cost effective content. Distinctively cultivate seamless products via equity invested
                        expertise. Continually innovate holistic bandwidth before extensible services. Uniquely orchestrate market-driven total linkage vis-a-vis
                        bricks-and-clicks process improvements. Interactively innovate open-source opportunities whereas long-term high-impact opportunities.
                    </p>
                    <p>
                        Professionally initiate customized models without robust meta-services. Progressively morph enterprise-wide resources for maintainable bandwidth.
                        Phosfluorescently underwhelm long-term high-impact mindshare whereas installed base infomediaries. Rapidiously evolve frictionless models for
                        distributed content. Distinctively simplify synergistic scenarios for just in time catalysts for change.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}