<h3>Bonjour,</h3>

<p>
    Vous venez de soumettre une demande d'inscription sur le site SnowTricks.
</p>
<p>
    Nom d'utilisateur : <strong>{{ user.username }}</strong>
    <br />
    Adresse email : <strong>{{ user.email }}</strong>
</p>

<p>
    <a href="{{ absolute_url(path('verify_registration', {token: token}))}}">Cliquez ici pour activer votre inscription : </a>
    <br />
    (Ce lien expirera dans 1 heure.)
</p>
<br />
<p>
    Toute l'équipe de <strong>SnowTricks</strong> vous souhaite une bonne journée !
</p>