<h3>Bonjour, {{ user.username }}</h3>

<p>
    Vous venez de soumettre une demande de réinitialisation de mot de passe sur le site SnowTricks.
</p>

<p>
    Cliquez sur le lien suivant afin d'accéder au formulaire de réinitialisation du mot de passe :
    <a href="{{ urlToken|raw }} ">{{ urlToken|raw }}</a>
    <br />

</p>
<br />
<p>
    Toute l'équipe de <strong>SnowTricks</strong> vous souhaite une bonne journée !
</p>